@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap");
@import "vars";

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #ccc;
}
header {
  background-image: url(../img/hero.svg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}
nav {
  padding: 15px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 55px;
      display: flex;
      @media (max-width: 768px) {
        width: 40px;
      }
      img {
        width: 100%;
        margin-right: 10px;
      }
      h1 {
        font-size: 23px;
        text-transform: uppercase;
        font-weight: normal;
        @media (max-width: 768px) {
          font-size: 19px;
        }
      }
    } // logo end
    .menu {

      ul {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          position: absolute;
          left: 50%;
          top: -100%;
          opacity: 0;
          transform: translateX(-50%);
          flex-direction: column;
          background: #fff;
          width: 75%;
          padding: 20px;
          transition: .6s;
          border-radius: 3px;
          z-index: 10;
        }

        li {
          a {
            color: white;
            font-size: 18px;
            display: block;
            padding: 10px 30px;
            transition: .3s;
            @media (max-width: 768px) {
              color: black;
              padding: 20px 30px;
            }
            &:hover {
              color: $orange;
            }
          }
          
        }
        li.sign-in {
          border: 2px solid $orange;
          border-radius: 4px;
          transition: .2s;
          margin-left: 12px;
          @media (max-width: 768px) {
            margin: 0;
          }
          &:hover {
            border-color: transparent;
          }

          a {
            padding: 10px 20px;
            transition: .3s;
            border-radius: 4px;
            &:hover {
              background: $orange;
              color: white;
            }
          }
        }
      }
    } // end menu
    i.menu-btn {
      font-size: 30px;
      padding: 5px;
      cursor: pointer;
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }
}
.show {
  top: 80px !important;
  opacity: 1 !important;
}

// --------- Start Landing ---------
.landing {
  height: 100%;
  .container {
    transform: translateY(200px);
    @media (max-width: 768px) {
    text-align: center;
    }
    @media (max-width: 330px) {
      transform: translateY(100px);
    }

    h1 {
      color: $orange;
      font-weight: normal;
      font-size: 40px;
      @media (max-width: 768px) {
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.829);
      }
    }
    p {
      width: 250px;
      margin-bottom: 50px;
      @media (max-width: 768px) {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 50px;
      }
    }
    a {
      color: white;
      background: $orange;
      border-radius: 5px;
      padding: 10px 22px;
      font-size: 18px;
      border: 3px solid $orange;
      transition: .3s;
      @media (max-width: 768px) {
        font-size: 18px;
      }
      
      &:hover {
        background: transparent;

      }
    }
  }
}
// ---------  End Landing ---------


// ---------  Start Articles ---------
.articles {
  padding-top: 80px;

  .title {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 80px;
    text-align: center;

    h1 {
      color: $dark;
      font-weight: normal;
      font-size: 40px;
    }
    p {
      color: $dark-gray;
      font-size: 20px;
    }
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    @media (max-width: 630px) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      gap: 20px;
    }

    .box {
      position: relative;
      width: fit-content;
      @media (max-width: 630px) {
        width: 100%;
        text-align: center;
      }
      img {
        width: 100%;
      }
      .txt {
        width: 100%;
        position: absolute;
        bottom: 18px;
        color: white;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);

        h1 {
          font-weight: normal;
        }
      }
    }
  }
}
// ---------  End Articles ---------


// ---------  Start Contact ---------
.contact {
  padding: 200px 0;
  text-align: center;
  font-weight: normal;

  .container {
    .title {
      font-weight: normal;
      margin-bottom: 30px;
      color: $dark;
      font-size: 23px;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        padding: 10px 5px;
        width: 400px;
        background: transparent;
        border: 1px solid $dark-gray;
        outline: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      button {
        background: $orange;
        border: none;
        color: white;
        height: 40px;
        padding: 0 20px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
// ---------  End Contact ---------


// ---------  Start Footer ---------
footer {
  width: 100%;
  background-image: url(../img/footer-img.svg);
  background-size: cover;
  background-position: center;
  padding: 80px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    
    
    .logo {
      display: flex;
      @media (max-width: 654px) {
        margin: 0 auto;
      }

      img {
        width: 60px;
        margin-right: 10px;
      }
      h1 {
        color: white;
        font-weight: normal;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
    .links {
      @media (max-width: 654px) {
        margin: 0 auto;
        text-align: center;
      }
      ul {
        display: flex;
        align-items: center;
        @media (max-width: 385px) {
          flex-direction: column;
        }
      }
      li {
        @media (max-width: 654px) {
          min-width: fit-content;
        }

        a {
          color: white;
          display: block;
          padding: 10px 35px;
          @media (max-width: 654px) {
            padding: 10px 25px;
          }
        }
      }
    }
    .social {
      @media (max-width: 992px) {
        margin: 0 auto;
      }

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          &:not(:last-child) {
            margin-right: 20px;
          }

          a {
            color: black;
            background: white;
            border-radius: 30px;
            padding: 3px 7px;
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
// ---------  End Footer ---------